body {
  background-color: #d5eae469;
}

.display-flex {
  display: flex;
}

.app-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  height: 150px;
  padding: 0 20px;
}

.app-title {
  font-size: 1.5em;
  color: #6f7368;
  text-align: center;
}

.tasks-wrapper {
  width: 500px;
  height: 700px;
  margin-top: 20px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: #d5eae4;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
